* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
}
.left_nav {
  display: flex;
  align-items: center;
  background-color: #fff;
}
.right_nav {
  width: 100%;
  height: 100%;
  background-color: #ff4800a8;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 20px;
}
.socials {
  margin-left: 10%;
}
.socials i {
  margin: 0 8px;
  font-size: 20px;
}
.logo {
  height: 80px;
}
.navlist {
  list-style: none;
  display: flex;
  margin-left: 20%;
}
.navlist li {
  margin: 0 20px;
  font-family: "Signika", sans-serif;
  font-size: 20px;
  cursor: pointer;
}
.about {
  width: 100%;
  height: 100vh;
  background: url("background.JPG ");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.about_section {
  position: relative;
  width: 100%;
  height: calc(100% - 100px);
}
.container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.541);
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
}
.about_title {
  color: #fff;
  margin-bottom: 30px;
  font-size: 2.3em;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}
.btn {
  width: 150px;
  height: 50px;
  background-color: #ff4700;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  font-family: "Signika", sans-serif;
  cursor: pointer;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 100%;
  height: 65vh;

  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding: 50px 20px;
  background: linear-gradient(to right, #ff4700, #e97242);
}
.main img {
  width: 100%;
}
.main_infos {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.main_infos p {
  color: #fff;
  font-family: "Signika", sans-serif;
}


/* services section */
.services{
    height: 100vh;
    width: 100%;
   background: url("texture.jpg");
}
.services_heading{
    width: 100%;
    height: 300px;
   color:#ff4700;
    font-size: 90px;
    font-weight: 600;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.services_title{
    text-align: center;
    
    position: absolute;
    top:31%;
    left:50%;
    transform:translateX(-50%)
}
.services_title h2{
    font-size: 20px;
    color: black;

}
.service h2{
    z-index: 5;
    color: #fff;
    margin-left: -20px;
}

.underline{
    margin: 0 auto;
    width: 70%;
    height: 3px;
    background-color: brown;
}
.services_container{
    width: 55%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
 
}
.service{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.267);
  
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.service_title{
    font-size: 40px;
    color: black;
}
.btn2{
    width: 200px;
    height: 60px;
    font-size: 20px;
    background-color: rgb(51, 51, 51);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.shape{
    position: absolute;
    top: 0;
    z-index: 2;
   
}
.contact{
    width: 100%;
    height: 60vh;
    background: linear-gradient(to right ,#FF4700,#B0756E);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}
.contact div h2{
    color:#fff;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}
.contact div h3{
    color:#fff;
    font-family: "Signika", sans-serif;
   font-size: 18px;
   margin-bottom: 20px;
}
.contact_us .socials i{
    color: #fff;
}
